<h2>{{especialidade.nome}}</h2>

{{#each especialidades}}
  <div class="card mt-4">
    
    <div class="card-body">
      <h3>Nome: {{nome}}</h3>
      <p>Descricao: {{descricao}}</p>
      <a href="/medicos/{{_id}}"><button class="btn btn-success">Leia Mais</button></a> 
      <hr>
    </div>
  </div>

{{else}}
  <h5>Nenhuma Consulta</h5>
{{/each}}