{{#each medicos}}

<div class="card">
  <div class="card-body">
    <h1>Médico: {{nome}} {{sobrenome}}</h1>
    <hr />
    <small>CRM: {{crm}}</small>
    <hr />
    <small>Telefone: {{telefone}}</small>
    <hr />
    <small>Especialidade: {{especialidade}}</small>
  </div>
</div>
{{else}}

{{/each}}