<h2> LISTA DE POSTAGENS</h2>
<hr>
<a href="/admin/postagens/add"><button class="btn btn-success">Nova Postagem</button></a>

{{#each postagens}}
    <div class="card mt-4">
        <div class="card-body">
            <h4>{{titulo}}</h4>
            <p>Descricao: {{descricao}}</p>
            <small>Data: {{date}}</small><br>
            <small>Categoria: {{categoria.nome}}</small><br>
            <a href="/admin/postagens/edit/{{_id}}"><button class="btn btn-success mt-3">Editr postagens</button></a>
            <a href="/admin/postagens/deletar/{{_id}}"><button class="btn btn-danger mt-3">Deletar postagens</button></a>
    </div>
{{else}}
    <p>Nenhuma postagem registrada</p>
{{/each}}

